:root {
  --simblue: #2c2d5b;
  --simorange: #f67366;
  --border-radius: 12px;
  --background-color: #e8eeff;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  z-index: 0;
}

/*BACKGROUND CIRCLE*/

.circle {
  position: absolute;
  top: -10vw;
  left: -30vw;
  height: 60vw;
  width: 60vw;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(188, 189, 237, 0.5);
  z-index: -1;
}

.border-car .car {
  position: absolute;
  top: 30%;
  left: 20%;
}

.border-car {
  position: absolute;
  left: 95%;
  top: 27%;
}

.border-plane .plane {
  position: absolute;
  top: 20%;
  left: 20%;
}
.border-plane {
  position: absolute;
  left: 57%;
  top: 97%;
}

/*HEADER*/

.header-container {
  display: flex;
  width: 100%;
  height: 107px;
  background-color: transparent;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0 30px;
  flex-grow: 1;
  z-index: 2;
}
.header-container h1 {
  font-weight: 700;
  color: var(--simblue);
  flex-shrink: 0;
  position: sticky;
  cursor: pointer;
}
.header-container span {
  color: var(--simorange);
}
.nav-links {
  padding: 62px;
}
.nav-links li {
  display: inline-block;
  padding: 0px 20px;
  list-style-type: none;
}

.nav-links li a {
  text-decoration: none;
  text-wrap: nowrap;
  color: black;
  font-size: 15px;
  font-weight: medium;
  z-index: 2;
}

.nav-links li a:hover {
  color: var(--simorange);
}
.btns {
  display: flex;
  gap: 30px;
  flex-shrink: 0;
}

.btns .request {
  color: var(--simblue);
  font-weight: bolder;
  font-size: 14px;
  color: var(--simblue);
  border: 2px solid var(--simblue);
  border-radius: 10px;
  background-color: #fff;
  padding: 20px 40px;
}

.join {
  color: #fff;
  font-weight: bolder;
  font-size: 14px;
  padding: 20px 40px;
  border-radius: 10px;
  border: 2px solid var(--simblue);
  background-color: var(--simblue);
}

.btns .request:hover {
  background-color: var(--simblue);
  color: white;
  cursor: pointer;
}
.join:hover {
  cursor: pointer;
}
.hamburguer-menu {
  display: none;
  cursor: pointer;
}

/* DROPDOWN MENU*/

.dropdown_menu li a {
  text-decoration: none;
  text-wrap: nowrap;
  color: black;
  font-size: 15px;
  font-weight: medium;
  z-index: 2;
}

.dropdown_menu {
  position: absolute;
  right: 2rem;
  top: 80px;
  width: 300px;
  height: 0;
  background-color: #fff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 240px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*FIRST SECTION*/

.container-first-section {
  display: flex;
  justify-content: center;
  margin-right: 0;
  margin-top: 120px;
  align-items: center;
  width: 100%;
  height: auto;
  padding-left: 70px;
  flex-wrap: nowrap;
}

.container-first-section .image-container {
  width: 45vw;
  max-width: 1000px;
  min-width: 350px;
  margin: auto;
}

.container-first-section .girl-with-dron {
  object-fit: cover;
  width: 100%;
}
.container-first-section h2 {
  color: #141414;
  font-size: 40px;
  font-weight: 600;
  text-wrap: wrap;
}
.container-first-section .title-another-color {
  color: var(--simorange);
  font-size: 48px;
  font-weight: bold;
}
.container-first-section .p-of-section {
  font-size: 14px;
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 50px;
}

.container-first-section .container-btns {
  display: flex;
  gap: 30px;
  align-items: center;
}
.border {
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: relative;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}
.container-first-section .border .video {
  position: absolute;
  top: 17px;
  left: 16px;
  bottom: 0;
  right: 0;
}
.container-first-section .border-boxes {
  position: absolute;
  right: 90px;
  top: 135px;
}

.container-first-section .border .boxes {
  position: absolute;
  top: 13px;
  left: 12px;
}
.container-first-section .container-btns p {
  color: var(--simblue);
  font-size: 14px;
  font-weight: 900;
}

.form {
  width: 90%;
  margin: auto;
}
.form-container {
  display: flex;
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 36px 36px;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  gap: 22px;
  border-radius: var(--border-radius);
  position: relative;
  margin-bottom: 30px;
  margin-top: 10vw;
  flex-wrap: wrap;
}

.form-container div {
  flex: 1 1 calc(25% - 22px);
  min-width: 200px;
}

.form-container input {
  width: 100%;
  padding: 25px 40px;
  border: 1px, solid, #979797;
  border-radius: 12px;
  flex-grow: 1;
}

.form-container .destination {
  position: relative;
}

.form-container .origin {
  position: relative;
}

.form-container .weight {
  position: relative;
}
.form-container label {
  flex: 1;
  position: absolute;
  top: -8px;
  background-color: #fff;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #979797;
  margin-left: 20px;
}

.form fieldset {
  border: none;
}

.form-container .submit-button {
  background-color: var(--simblue);
  color: #fff;
  padding: 26px 70px;
  font-weight: 900;
  font-size: 14px;
  border-radius: var(--border-radius);
  position: relative;
  top: -9px;
  border: none;
  cursor: pointer;
  text-wrap: nowrap;
  flex: 1 1 calc(20% - 22px);
  min-width: 120px;
}

/*SECOND SECTION*/

.second-section-container {
  width: 100%;
  background-color: #f4f6f9;
  height: auto;
  padding: 100px 150px;
}

.services-logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 100px;
}

.icon-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-background {
  width: 7.292vw;
  height: 7.292vw;
  min-width: 50px;
  min-height: 50px;
  background: #f4f6f9;
  box-shadow: 1px 1px 8px #f4f6f9, inset -6px -5px 12px #fafbfc,
    inset 4px 4px 10px #d8d8d8;
  border-radius: 50%;
  z-index: 1;
  align-self: center;
  position: absolute;
  margin-bottom: 7rem;
  margin-left: 6rem;
}

.second-section-border-car {
  width: 7.292vw;
  height: 7.292vw;
  min-width: 50px;
  min-height: 50px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-section-border-car .image-container {
  width: 100%;
  object-fit: cover;
}

.second-section-border-car img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 2;
}

.services-logo-container h2 {
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.services-logo-container strong {
  font-weight: bold;
  position: relative;
}

.services-logo-container strong::after {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 5px;
  width: 100%;
  left: 0;
  background-color: var(--simorange);
}

.article-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  gap: 30px;
  padding: 40px;
  flex-grow: 1;
  flex-wrap: wrap;
}

.article-container article {
  flex: 1;
}

.article-container article h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: bold;
  color: var(--simblue);
}

.article-container .second-section-first-article .border {
  position: relative;
}

.article-container .second-section-first-article img {
  position: absolute;
  top: 15px;
  left: 10px;
}

.article-container .second-section-second-article .border {
  position: relative;
}

.article-container .second-section-second-article img {
  position: absolute;
  top: 10px;
  left: 8px;
}

.article-container .second-section-third-article .border {
  position: relative;
}

.article-container .second-section-third-article img {
  position: absolute;
  top: 11px;
  left: 12px;
}

.second-section .btns {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

/*THIRD SECTIONS*/
.third-section-container {
  position: relative;
  width: 100%;
  padding: 3rem 6rem;
}

.icon-wrapper2 {
  justify-content: flex-start;
  margin-top: 5rem;
}

.icon-wrapper2 .circle-background {
  margin-top: 2rem;
  margin-left: 4rem;
}

.title-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.title-container h2 {
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  margin-bottom: 7rem;
}

.title-container h2 strong {
  font-weight: 700;
  position: relative;
}
.title-container strong::after {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 5px;
  width: 80%;
  left: 0;
  background-color: var(--simorange);
}

.circle-number {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #230b34;
  position: relative;
}

.articles h2 {
  color: var(--simorange);
  font-size: 2.5rem;
}

.articles {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.circle-number p {
  color: #fff;
  position: absolute;
  top: 9px;
  left: 14px;
  font-size: 22px;
  font-weight: bold;
}

.left-section {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
}

.article-image-container {
  flex: 1 1 50%;
  width: 40vw;
  max-width: 1000px;
  min-width: 350px;
}

.article-image-container img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.article-title-container {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 3rem;
}

.article-second {
  display: flex;
  flex-direction: row-reverse;
  flex: 1 1 50%;
  gap: 20rem;
}

.arrows .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12rem;
}

.arrow-down .image-container {
  display: flex;
}

/* FOUR SECTION*/

.section-four-container {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #f4f6f9;
}

.section-four-container h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  margin-bottom: 7rem;
}

.section-four-container h2 strong {
  font-weight: 700;
  position: relative;
}

.section-four-container strong::after {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 5px;
  width: 70%;
  left: 0;
  background-color: var(--simorange);
}

.section-four-container .map-container {
  width: 90vw;
  max-width: 1500px;
  min-width: 350px;
  margin: auto;
}

.section-four-container .map-container img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.section-four-container .btns {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}

.footer-container {
  width: 100%;
  height: auto;
  background-color: var(--simblue);
  color: #fff;
}

.footer-container .footer-text-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 168px;
  padding: 150px 50px;
}
.footer-container .footer-title-container {
  color: #fff;
  width: 16rem;
}

.footer-container .footer-title-container h2 {
  font-weight: 800;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.footer-container .footer-title-container h2 span {
  color: var(--simorange);
  font-weight: 400;
}

.footer-container .footer-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-container .footer-list {
  list-style: none;
}

.footer-container .footer-list li a {
  text-decoration: none;
  color: #fff;
}

.footer-container h2 {
  margin-bottom: 20px;
}

.footer-container .social-media {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 24px;
}

.footer-container .social-media .social-media-circle {
  width: 40px;
  height: 40px;
  background-color: #fff;
  position: relative;
  border-radius: 50%;
}
.footer-container .social-media li {
  z-index: 1000;
  position: absolute;
  left: 8px;
  top: 6px;
}

.footer-container .explore-legal-container {
  display: flex;
  gap: 168px;
}

.footer-container .social-media li a i {
  background: linear-gradient(to right, #2c2d5b, #9fa1ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-container .footer-bottom-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container .footer-bottom-container h3 {
  background-color: #141414;
}

@media (width >= 1450px) {
  .articles h2 {
    font-size: 3.5rem;
  }
  .articles .text {
    font-size: 2rem;
  }
  .title-container h2 {
    font-size: 3rem;
    font-weight: 500;
  }
}

@media (width <= 1305px) {
  .nav-links {
    display: none;
  }
  .btns {
    display: none;
  }
  .hamburguer-menu {
    display: block;
  }

  .header-container {
    justify-content: space-between;
  }

  .circle {
    display: none;
  }
  .border-boxes {
    display: none;
  }

  .border-car {
    display: none;
  }
  .border-plane {
    display: none;
  }
}

@media (width <= 1126px) {
  .circle-background {
    margin-top: 3rem;
    margin-left: 5rem;
  }
}
/*mobile*/

@media (width <= 768px) {
  .container-first-section {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 10vw;
    margin: auto;
  }
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }

  .container-first-section .girl-with-dron {
    margin-top: 15vw;
  }

  .container-btns {
    justify-content: center;
  }
  .second-section-container {
    padding: 0;
  }

  .article-container {
    flex-direction: column;
  }

  .services-logo-container {
    justify-content: space-between;
    padding: 40px;
  }

  .services-logo-container h2 {
    font-size: 1.5rem;
  }
  .circle-background {
    margin-top: 4rem;
    margin-left: 2rem;
  }

  .icon-wrapper2 {
    margin-left: 10px;
  }

  .icon-wrapper2 .circle-background {
    margin-top: 4rem;
    margin-left: 2rem;
  }
  .second-section .btns {
    padding-bottom: 20px;
    gap: 30px;
  }

  .third-section-container {
    padding: 0;
    margin: auto;
  }
  .articles {
    flex-wrap: wrap;
    justify-content: center;
  }

  .left-section {
    padding-left: 3rem;
    margin-bottom: 4rem;
    padding-right: 3rem;
  }

  .arrows {
    display: none;
  }

  .article-second {
    gap: 0;
  }

  .section-four-container h2 {
    padding: 30px 0;
  }
  .footer-container .footer-text-container {
    flex-direction: column;
    gap: 50px;
    padding: 50px 24px;
  }
  .footer-container .explore-legal-container {
    flex-direction: row;
    gap: 60px;
  }

  .footer-container .footer-title-container {
    width: 100%;
  }
}
