:root {
  --simblue: #2c2d5b;
  --simorange: #f67366;
  --border-radius: 12px;
  --background-color: #e8eeff;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

.header-container {
  display: flex;
  width: 100%;
  height: 107px;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0 30px;
  flex-grow: 1;
}
.header-container h1 {
  font-weight: 700;
  color: var(--simblue);
  flex-shrink: 0;
  position: sticky;
  cursor: pointer;
}
.header-container span {
  color: var(--simorange);
}
.nav-links {
  padding: 62px;
}
.nav-links li {
  display: inline-block;
  padding: 0px 20px;
  list-style-type: none;
}

.nav-links li a {
  text-decoration: none;
  text-wrap: nowrap;
  color: black;
  font-size: 15px;
  font-weight: medium;
}

.nav-links li a:hover {
  color: var(--simorange);
}
.btns {
  display: flex;
  gap: 30px;
  flex-shrink: 0;
}

.btns .request {
  color: var(--simblue);
  font-weight: bolder;
  font-size: 14px;
  color: var(--simblue);
  border: 2px solid var(--simblue);
  border-radius: 10px;
  background-color: #fff;
  padding: 20px 40px;
}

.join {
  color: #fff;
  font-weight: bolder;
  font-size: 14px;
  padding: 20px 40px;
  border-radius: 10px;
  border: 2px solid var(--simblue);
  background-color: var(--simblue);
}

.btns .request:hover {
  background-color: var(--simblue);
  color: white;
  cursor: pointer;
}
.join:hover {
  cursor: pointer;
}
.hamburguer-menu {
  display: none;
}

.container-first-section {
  display: flex;
  justify-content: center;
  margin-right: 0;
  margin-top: 50px;
  align-items: center;
  width: 100%;
  height: auto;
  padding-left: 70px;
  flex-wrap: nowrap;
}

.container-first-section .girl-with-dron {
  max-width: 100%;
  min-width: 100%;
  height: auto;
}
.container-first-section h2 {
  color: #141414;
  font-size: 40px;
  font-weight: 600;
  text-wrap: wrap;
}
.container-first-section .title-another-color {
  color: var(--simorange);
  font-size: 48px;
  font-weight: bold;
}
.container-first-section .p-of-section {
  font-size: 14px;
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 50px;
}

.container-first-section .container-btns {
  display: flex;
  gap: 30px;
  align-items: center;
}
.border {
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: relative;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}
.container-first-section .border img {
  position: absolute;
  top: 17px;
  left: 16px;
  bottom: 0;
  right: 0;
}
.container-first-section .container-btns p {
  color: var(--simblue);
  font-size: 14px;
  font-weight: 900;
}

.form {
  width: 100%;
  justify-items: center;
  align-items: center;
}
.form-container {
  display: flex;
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 36px 36px;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  gap: 22px;
  border-radius: var(--border-radius);
  position: relative;
  margin-bottom: 30px;
}

.form-container input {
  padding: 25px 40px;
  border: 1px, solid, #979797;
  border-radius: 12px;
}
.form-container label {
  position: absolute;
  top: 28px;
  background-color: #fff;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #979797;
  margin-left: 20px;
  z-index: 100;
}

.form fieldset {
  border: none;
}

.form-container .submit-button {
  background-color: var(--simblue);
  color: #fff;
  padding: 26px 70px;
  font-weight: 900;
  font-size: 14px;
  border-radius: var(--border-radius);
  position: relative;
  top: -9px;
}
/*
mobile 
*/
@media (width <= 1305px) {
  .nav-links {
    display: none;
  }
  .btns {
    display: none;
  }
  .hamburguer-menu {
    display: flex;
    justify-content: space-between;
  }

  .header-container {
    justify-content: space-between;
  }
}

@media (width <= 1143) {
  .form-container {
    flex-direction: column;
  }
}

@media (width <= 768px) {
  .container-first-section {
    flex-wrap: wrap;
  }
}
